* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }
  header {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: rgba(223, 211, 211, 0.541);
  }
  .navbar {
    background-color: #ffffff;
    height: 100px;
    
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    width: 100%;
    height: 100px;
  }
  .navbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url("img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.5;
  }
  
  .col1 img {
    width:20%;
    height:fit-content;
    margin-left: 10px;
    border-radius:10px;
  }
  
  .menu-toggle {
    display: none;
  }
  
  .col2 {
    width: fit-content;
    height: 180px;
    background-color: transparent;
    padding-top: 60px;
    float: right;
    margin-right: 15px;
  }
  
  .col2 button {
    display: inline;
    font-size: 15px;
    color: #000000;
    float: left;
    margin: 6px;
    padding: 4px 16px;
    border: 1px rgb(168, 22, 22) solid;
    border-radius: 10px;
    background: rgb(247, 222, 33);
    box-shadow: 2px 2px 0px 0px rgb(25, 217, 54) 4px 4px 0 0 rgb(208, 244, 3);
    transition-duration: 200ms;
    cursor: pointer;
  }
  
  .col2 button:hover {
    box-shadow: 3px 3px rgb(157, 195, 18), 6px 6px 0 0 rgba(0, 0, 0, 0.877);
    transform: translate(-2px, -2px);
    background-color: #da697e86;
  }
  
  iframe{
    border-radius:10%;
    margin-right: auto;
  }
  
  @media (max-width:768px) {
    .col1 img {
      width: 30%;
      height:fit-content;
      margin-left: 10px;
      border-radius:10px;
    }
    .col2 {
      display: none;
      flex-direction: column;
      background-color: #000000;
      padding: 20px 35px;
      margin-bottom: 10px;
      height: 100px;
      width: 100%;
      float: right;
      margin-right: -14.4px;
    }
    .container {
      height: 100px;
      width: 100%;
    }
    .img {
      padding: 5px;
      border-radius: 50%;
      margin-top: 20px;
    }
    .icon {
      overflow-x: visible;
      width: fit-content;
    }
    .col2 button {
      width: 100%;
      font-size: 6px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      background-color: #ffc0c0b1;
    }
  
    .col2.active {
      display: flex;
    }
  
    .menu-toggle {
      display: block;
      cursor: pointer;
     
    }
  
    .menu-toggle span {
      display: block;
     
      width: 25px;
      height: 2px;
      background-color: #000000;
      margin: 5px;
      transition: transform 0.2;
    }
  
    .menu-toggle.active span:nth-child(1) {
      transform: rotate(-45deg) translate(-5px, 5px);
    }
  
    .menu-toggle.active span:nth-child(2) {
      opacity: 0;
    }
  
    .menu-toggle.active span:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -5px);
    }
    .col2 button:hover {
      transform: scale(1.1, 1.1);
    }
    footer h3 {
      font-size:20px;
    }
    .icon{
      margin: auto;
    }
    
    
  }
  footer {
    
    background-color:rgba(0, 0, 0, 0.728);
    color: #ffffff;
    height: fit-content;
    width: 100%;
    padding:20px;
    text-align: center;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:1%;
    
}

footer p {
    margin-top: 10px;
    font-size: 15px;
    font-family: cursive;
}

.img {
    padding: 10px;
    border-radius: 50%;
    margin-top: 10%;
}


.img:hover {
    transform: translate(-5px, -2px);
}


